@import "../../style.scss";

.chat {
  @include themify($themes) {
    padding-left: 20px;
    background-color: themed("bgSoft");
    color: themed("textColor");
    height: 100%;
    // padding: 20px;
    // box-sizing: border-box;

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 20px;
    }

    .container {
      position: relative; // Добавлено
      // padding: 20px 40px;
      margin-bottom: 20px;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      border-radius: 20px;
      background-color: themed("bg");
      height: 100%;

      .userProfile {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        @include mobile {
          gap: 20px;
        }

        .left {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            @include mobile {
              width: 25px;
              height: 25px;
            }
          }

          span {
            font-size: 20px;
            font-weight: 500;
            color: themed("textColor");
            @include mobile {
              font-size: 15px;
            }
          }
        }
        .right {
          display: flex;
          align-items: center;
          gap: 20px;

          button {
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .writeMessage {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          border-radius: 12px;
          padding: 10px;
          @include mobile {
            width: 250px;
          }
        }

        button {
          padding: 12px;
          border-radius: 12px;
          background-color: #5271ff;
          color: aliceblue;
          border: none;
        }
      }
    }
  }
}
